@import './_imports/_variables',
				'./_imports/_colors';
@import '../utilities/color_scheme';

.tooltip {
	position: relative;
	&:hover {
		&:after {
			position: absolute;
			content: attr(data-text);
			background: lighten(themeColor(fracture), 10%);
			border-radius: $border-radius-small;
			padding: $space-small*0.8;
			bottom: -4em;
			left: 50%;
			transform: translateX(-50%);
			z-index: 2;
			font-size: 0.5em;
		}
	}
}
