@import '../../styles/surface/cards_tiles';
@import '../../styles/surface/nav';
@import '../../styles/surface/tooltip';
@import '../../styles/surface/buttons';
@import '../../styles/surface/grid';
@import '../../styles/font-awesome/scss/font-awesome';
@import '../../styles/utilities/media_queries';
@import '../../styles/utilities/color_scheme';
@import '../../styles/utilities/text';
@import '../../styles/utilities/grid';

.signIn {
  @extend .flex-center;
  @extend .flex-wrap;
  height: 100%;
  @extend .text-shadow-light;
}

.logo {
  @extend .logo-area;
  color: themeColor(light);
}

// Controls main content size
.centerContent {
  @extend .g--10;
  height: 100%;
  @include tablet-portrait-and-up {
    width: 65%;
  }
  @include tablet-landscape-only {
    width: 45%;
  }
  @include desktop-and-up {
    width: 35%;
  }
}

.form {
  @extend .flex-columns;
  @extend .text-shadow-dark;
  @extend .card;
  background-color: themeColor(light);
  position: relative;
  padding: 15px;
  input {
    display: flex;
    font-size: 1em;
  }
  @include tablet-portrait-and-up {
    padding: 30px;
  }
  @include tablet-landscape-only {
    padding: 35px;
  }
  @include desktop-and-up {
    padding: 45px;
  }
}

.formInputs {
  @extend .align-end;
  width: 85% !important;
  margin-bottom: 10px !important;
  color: themeColor(fracture) !important;
  &:last-of-type {
    margin-bottom: 40px !important;
  }
}

.logInButton {
  @extend .btn--secondary;
  @extend .btn--raised;
  width: 100%;
  height: 50px;
  font-size: 0.9em;
}

.createAccountButton {
  @extend .tooltip;
  @extend .btn--float;
  @extend .nudge--right;
  position: absolute;
  top: 10px;
  right: -33px;
  @include tablet-portrait-and-up {
    right: -38px;
  }
  @include tablet-landscape-only {
    right: -39px;
  }
  @include desktop-and-up {
    right: -44px;
  }
}

.inputIcons {
  @extend .align-start;
  color: themeColor(dark);
  position: relative;
  top: 31px;
  font-size: 1.5em;

  @include desktop-and-up {
    left: 2%;
  }
}

.rememberMeContainer {
  @extend .flex-rows;
  width: 100%;
  margin-bottom: 20px;
}

.rememberMeText {
}

.checkbox {
  @extend .align-start;
  width: 30px;
  margin: 0;
}

.faEnvelope {
  @extend .fa;
  @extend .fa-envelope;
  @extend .inputIcons;
}

.faLock {
  @extend .fa;
  @extend .fa-lock;
  @extend .inputIcons;
}

.longArrowRight {
  @extend .fa;
  @extend .fa-long-arrow-right;
  position: absolute;
  right: 30px;
  font-size: 2em;
  top: 11px;
}