@import
"settings",
"normalize";

@import
'./surface/surface_styles';


html {
  overflow-y: scroll;
  width: 100%;
}

body {
  padding-bottom: 120px;
  width: 100%;
  > div {
    width: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background: rgba(200,200,255,.1);
}

.hide {
  display: none !important;
}

