@import '../styles/utilities/color_scheme';
@import '../styles/utilities/positioning.scss';

.mainContainer {
  @extend .flex-wrap;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: darken(themeColor(light), 2%);
  > main {
    width: 100%;
  }
}