@import '../styles/utilities/color_scheme';
@import '../styles/utilities/media_queries';

.appContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: darken(themeColor(light), 2%);
}

.mainContainer {
  flex: 1 1 auto;
  padding: 10px;
  overflow-y: auto;/* need this to position inner content */
  .authenticated {
    position: relative;
  }
  @include tablet-portrait-and-up {
    padding: 30px 40px;
  }
  @include tablet-landscape-and-up {
    padding: 30px 60px;
  }
  @include tablet-landscape-and-up {
    padding: 30px 125px;
  }
}