@import '../../styles/surface/cards_tiles';
@import '../../styles/surface/nav';
@import '../../styles/surface/tooltip';
@import '../../styles/surface/buttons';
@import '../../styles/surface/grid';
@import '../../styles/surface/utility';
@import '../../styles/material-design-iconic-font/scss/material-design-iconic-font';
@import '../../styles/utilities/media_queries';
@import '../../styles/utilities/color_scheme';
@import '../../styles/utilities/text';
@import '../../styles/utilities/positioning';

.inputIcons {
  @extend .align-start;
  color: themeColor(dark);
  position: relative;
  top: 31px;
  font-size: 1.5em;

  @include desktop-and-up {
    left: 2%;
  }
}

.footer {
  @extend .text-shadow-dark;
  @extend .primary-background-gradient;
  display: flex;
  height: 25%;
}

.footerAction {
  @extend .flex-center;
  color: themeColor(light);
  width: 100%;
  margin-top: 30px;
}

.footerActionText {
  color: themeColor(light);
  margin: 0;
  font-size: 0.8em;
  cursor: pointer;
}

.inputIconStyle {
  color: themeColor(light);
  top: 42.5%;
  left: -7px;
  font-size: 1.1em;
}

.zmdiExclamationCircle {
  @extend .zmdi;
  @extend .zmdi-alert-circle-o;
  @extend .inputIcons;
  @extend .inputIconStyle;
}

.zmdiBackArrow {
  @extend .zmdi;
  @extend .zmdi-mail-reply;
  @extend .inputIcons;
  @extend .inputIconStyle;
}