.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  flex-flow: row wrap;
  align-content: flex-end;
}

.flex-rows {
   display: flex;
   flex-direction: row;
}

.flex-columns {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column wrap;
   align-content: center;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.absolute-center-horizontal {
  left: 50%;
  transform: translateX(-50%);
}