@import '../../styles/surface/cards_tiles';
@import '../../styles/surface/nav';
@import '../../styles/surface/tooltip';
@import '../../styles/surface/buttons';
@import '../../styles/surface/grid';
@import '../../styles/surface/utility';
@import '../../styles/utilities/media_queries';
@import '../../styles/utilities/color_scheme';
@import '../../styles/utilities/text';
@import '../../styles/utilities/positioning';
@import '../../styles/utilities/animations';

.cardsContainer {
  @extend .flex-wrap-rows;
  align-self: flex-end;
  display: flex;
  align-items: initial;
  width: 77%;
}

.cardContainer {
  @extend .card;
  display: flex;
  width: 48%;
  margin: 0 1% 2%;
  background: lighten(themeColor(light), 1%);
}