@import '../../styles/surface/cards_tiles';
@import '../../styles/surface/nav';
@import '../../styles/surface/tooltip';
@import '../../styles/surface/buttons';
@import '../../styles/surface/grid';
@import '../../styles/surface/utility';
@import '../../styles/utilities/media_queries';
@import '../../styles/utilities/color_scheme';
@import '../../styles/utilities/text';
@import '../../styles/utilities/positioning';
@import '../../styles/utilities/animations';

.cardsContainer {
  align-self: flex-end;
  display: flex;
  width: 72.5%;
}

.cardContainer {
  @extend .card;
  display: flex;
  width: 100%;
  background: lighten(themeColor(light), 1%);
}